$color_1: #fff;
$color_3: #1d2542;
$color_4: #747e84;
$color_5: #39374d;
$color_6: #5e5d6c;
$color_7: #4d60ad;
$color_8: #748494;
$color_9: #959595;
$color_10: #1d2443;
$main_font_family: "Lato", sans-serif;
$background_color_1: #f8faff;
$background_color_2: #ef4d4f;
$background_color_3: #fff;
$background_color_5: #0575e6;
$border_color_1: #0575e6;
