@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../styles/variables.scss";

.textOnly {
  padding: 75px 0px;
  text-align: center;
  h2 {
    font-size: 35px;
    color: #1d2542;
    margin-bottom: 25px;
  }

  p {
    font-size: 16px;
    color: #747e84;
  }
}
